/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-main:'Inter-Variable', sans-serif;
    --font-accent: 'PressStart2P', fantasy;
    --font-card-title: 710;
    --font-body: 410;
    --bg-color: #ffffff;
    --bg-image:
        repeating-linear-gradient(to right, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(to bottom, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px ),
        linear-gradient(to bottom, #e7e7e7, #1a1a1a);
    --text-color: #000000;
    --width-box: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem); 
    --border-box: 2px solid #000000;

    /* для сердечка */
    --contour-color: #000000;
    --body-color:#FF0000;
}